html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
@keyframes borderChange {
  50% {border-color: rgb(95, 63, 153);}
}
@font-face {
  font-family: stereofidelic;
  src: url(../assets/stereofidelic/stereofidelic.ttf);
}
#paellaDescript {
  display: none;
  font-family: fantasy;
  position: absolute;
  color: #47374F;
  border: 6px solid #7B9C96;
  animation: borderChange 5s infinite;
  background-color: white;
  top: 10px;
}
#underConstruction {
  position: absolute;
  color: white;
  font-family: stereofidelic;
  top: -200px;
  left: 150px;
  font-size: 250px;
  background-color: #47374F;
  border: 16px solid #7B9C96;
  animation: borderChange 5s infinite;
}
