html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#seniorPortrait {
  text-align: center;
  background-image: url('https://wsprung.github.io/whitneysArchive/website/assets/chinaPhoto.jpeg');
}
#selfPortrait {
  position: relative;
  top: 10px;
}
