html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  overflow: hidden;
}
#table {
  position: absolute;
  /* justify-content: space-around; figure this out */
}
/* {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
} */
