html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
canvas {
  display: block;
  /* overflow: hidden; */
}
#table {
  width: 70%;
  position: absolute;
  top: 88px;
}
#sketch-container {
  /* background-image: url('https://wsprung.github.io/whitneysArchive/website/assets/bookshelfOneRow.png'); */
  background-color: black;
}
#backButton {
  color: white;
  font-size: 15px;
  font-size: 20px;
  font-family: verdana;
  font-style: italic;
  background-color: rgb(95, 63, 153);
  border: 6px solid rgb(22, 227, 167);
  animation: borderChange 5s infinite;
}
#row2 {
  position: relative;
  top: 39px;
}
#row3 {
  position: relative;
  top: 76px;
}
#reportCardExcerpt {
  display: none;
}
@keyframes borderChange {
  50% {border-color: rgb(95, 63, 153);}
}
