html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#buttons {
  background-color: rgb(121, 250, 197);
  visibility: hidden;
  text-align: center;
}
#buttonDesign {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
}
#header {
  /* display: none hides the element */
  text-align: center;
}
#archiveHeader {
  font-size: 35px;
  border: 4px solid rgb(121, 250, 197);
  font-family: stereofidelic;
  font-size: 70px;
  background-color: rgb(142, 199, 255);
}
#enterName {
  position: relative;
  top: -10px;
  font-size: 20px;
  color: rgb(142, 199, 255);
  background-color: black;
  font-family: monospace;
}
#textInBox {
  position: relative;
  top: -10px;
  text-align: center;
}
#usersName {
  position: relative;
  top: -10px;
  font-size: 20px;
  background-color: rgb(121, 250, 197);
  border: 4px solid rgb(142, 199, 255);
}
#labelUsersName {
  position: relative;
  top: -10px;
  font-size: 25px;
  font-family: monospace;
  background-color: rgb(121, 250, 197);
  border: 4px solid rgb(142, 199, 255);
}
#hiToUser {
  background-color: black;
  position: absolute;
  text-align: center;
  display: none;
  color: rgb(142, 199, 255);
  font-family: Courier;
  font-size: 60px;
}
#welcomeUser {
  background-color: black;
  position: absolute;
  display: none;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(121, 250, 197);
}
@font-face {
  font-family: myFirstFont;
  src: url(assets/humanoidFont/HUMANOIDSTRAIGHT.TTF);
}
@font-face {
  font-family: robotica;
  src: url(assets/robotica/ROBOTICA.TTF);
}
@font-face {
  font-family: stereofidelic;
  src: url(assets/stereofidelic/stereofidelic.ttf);
}
